@import "./global.scss";

@keyframes panelMove {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@keyframes accuracyElemDisappear {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

$boardBorderColor: rgb(107, 10, 79);

.board {
  perspective: 150px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background: #1a1a1ad3;
    display: none;

    &::before {
      content: "Tap anywhere to close";
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      color: #dbdbdb;
      font-size: 15px;
      font-family: $dm;
      font-weight: 500;
      letter-spacing: -0.1px;
    }

    &--visible {
      display: block;
    }
  }

  // mini mode -> for testing purposes only
  &--mini {
    transform: scale(0.55);
  }

  // each lane styles
  &__lane {
    // mini mode for tests
    &--mini {
      width: 8px;
      height: 100%;
    }

    // I added this right border because otherwise the lanes woudl not cover 100% of the key's width which is 8px (+ 1px border for both right and left hand side).
    &:nth-child(1),
    &:nth-child(3),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(9),
    &:nth-child(11) {
      border-right: 1px solid #1f1f1f;
    }

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6),
    &:nth-child(8),
    &:nth-child(10) {
      border-right: 1px solid #1f1f1f;
    }
  }

  // span containing tap accuracy value container
  &__accuracy {
    position: absolute;
    border: 1px solid #fff;
    margin: 0;
    color: #fff;
    width: 34px;
    height: 8px;
    // background: #f00;
    left: 34px;
  }

  // value of tap's accuracy
  &__accuracy-val {
    position: absolute;
    top: calc(-100% - 2px);
    left: 50%;
    transform: translateX(-50%);
    font-size: 7px;
    margin: 0;
    font-family: $dm;
    font-weight: 600;
    border-radius: 1px;
  }

  &__fields {
    display: flex;
    position: absolute;
    //! 8px bottom from the board
    bottom: 8px;
    left: 0;

    background: rgba(107, 10, 80, 0.233);

    border-bottom: 1px solid $boardBorderColor;
    border-top: 1px solid $boardBorderColor;

    // &::before {
    //   top: 0;
    //   transform: translateY(-50%);
    // }

    // &::after {
    //   bottom: 0;
    // }

    // &::before,
    // &::after {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   height: 0.9px;
    //   width: 100%;
    //   background: #f00;
    //   z-index: 2;
    // }
  }

  &__lane-field {
    &--mini {
      height: 8px;
      width: 8px;
    }

    &--pressed {
      background: lighten(#000, 10%);
    }

    border-right: 1px solid #1f1f1f;

    &:last-child {
      border-right: none;
    }
  }

  &__lanes {
    &--mini {
      height: 200px;
    }

    background: rgb(107, 10, 79);
    background: linear-gradient(
      90deg,
      rgba(107, 10, 79, 0.35) 0%,
      rgba(106, 185, 92, 0) 10%,
      rgba(109, 190, 94, 0) 90%,
      rgba(107, 10, 79, 0.35) 100%
    );

    transform: rotateX(60deg);
    transform-style: preserve-3d;

    // background: #f00;

    position: relative;

    display: flex;

    border-left: 1px solid $boardBorderColor;
    border-right: 1px solid $boardBorderColor;
  }

  &__notes-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // background: #0f0;
    height: 100%;
    overflow: hidden;
  }

  &__notes-panel {
    position: absolute;
    bottom: 16px;
    left: 0;
    width: 100%;

    &--test {
      height: 100px;
      // background: #f00;
    }

    // background: #0f0;
  }

  &__note {
    position: absolute;
    border-radius: 1px;

    &--test {
      left: 50%;
      transform: translateX(-50%);
      bottom: 88px;
    }

    &--regular {
      width: 32px;
      height: 8px;
      background: rgb(84, 150, 76);
      background: linear-gradient(
        0deg,
        rgba(84, 150, 76, 1) 0%,
        rgba(132, 228, 112, 1) 100%
      );
      border: 1.5px solid #0e9b2c;

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 2px;
        border-radius: 50%;
        background: #0e9b2c;
        transform: translateY(-50%);
        top: 50%;
      }

      &::before {
        left: 2px;
      }

      &::after {
        right: 2px;
      }
    }
  }
}
