@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&family=Inter:wght@200;400;500;600&display=swap");

$sf: "SF Medium Pro", sans-serif;
$sp: "Spotify", sans-serif;
$n: "Neon", sans-serif;
$dm: "DM Sans", sans-serif;
$i: "Inter", sans-serif;

$ultra: 42px;
$big: 27px;
$medium: 23px;
$small: 19px;

@mixin scroll(
  $width: 2px,
  $trackbg: #c2c2c2,
  $thumbbg: #303030,
  $thumbhoverbg: #555
) {
  &::-webkit-scrollbar {
    width: $width;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $trackbg;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $thumbbg;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $thumbhoverbg;
  }
}

@mixin default_scroll {
  &::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #c2c2c2;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #303030;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@mixin flex($direction: row, $align: center, $justify: center, $wrap: wrap) {
  display: flex;
  direction: $direction;
  align-items: $align;
  justify-content: $justify;
  wrap: $wrap;
}

@font-face {
  font-family: "SF Medium Pro";
  src: url("../assets/SFMediumPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neon";
  src: url("../assets/Neon.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spotify";
  src: url("../assets/CircularSpotifyTxT-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
