@import "./global.scss";
@import "./start.scss";
@import "./songmodal.scss";

body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background: #000;
  // overflow: hidden;
}
